.feed {
	flex: 0.4;
	padding: 10px;
	border: 1px solid var(--deenify-background);
	min-width: 660px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/* width: 600px; */
}

.feed::-webkit-scrollbar {
	display: none;
}

.feed-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100px;
	/* border: 1px solid var(--deenify-background); */
	/* padding: 15px 20px; */
}

.feed-header > h2 {
	font-size: 20px;
}

.searchIcon {
	color: var(--deenify-color);
}
