.privacy_policy {
    font-size: 15px;
    padding: 20px;
}

.horizontal-rule {
    border: 1px dotted gray;
    display: block;
    width: 40%;
    margin: auto;
}
.privacy_section_notes {
    padding-bottom: 30px;
    line-height: 2em;
}

.privacy_section_header{
    padding-top: 30px;
}
.privacy_section_subheader{
    padding: 15px 0;
}
.privacy_header {
    text-align: center;
}

.basmalah {
    text-align: center;
}