.dua_requests {
	flex: 0.4;
	padding: 10px;
	border: 1px solid var(--deenify-background);
	min-width: 660px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/* width: 600px; */
}

.feed::-webkit-scrollbar {
	display: none;
}

.search_input {
	display: flex;
	align-items: center;
	background-color: var(--deenify-background);
	padding: 10px;
	border-radius: 20px;
	margin-top: 20px;
	/* margin-left: 20px; */
}

.search_input > input {
	border: none;
	background-color: var(--deenify-background);
	inline-size: 450px;
	outline-width: 0;
}

.request-header {
	position: sticky;
	top: 0;
	justify-content: center;
	background-color: white;
	z-index: 100px;
	/* border: 1px solid var(--deenify-background); */
	/* padding: 15px 20px; */
}

.request-header > h4 {
	font-size: 40px;
	text-align: center;
}

.searchIcon {
	color: var(--deenify-color);
}
