.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid var(--deenify-background);
	padding: 10px;
}

.post_avatar {
	padding: 20px;
}

.post_body {
	flex: 1;
	padding: 10px;
}

.post_body > img {
	border-radius: 20px;
	width: 400px;
}

.post_footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.post_headerText {
	font-weight: 600;
	font-size: 15px;
	padding: 5px;
}

.post_headerDescription {
	padding: 10px;
}
