.requestBox {
	padding-bottom: 10px;
	border: 8px solid var(--deenify-background);
	padding-right: 10px;
	border-radius: 20px;
}

.requestBox > form {
	display: flex;
	flex-direction: column;
}

.requestBox_input {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	display: flex;
}

.postBox_button {
	background-color: var(--deenify-color) !important;
	border: none !important;
	color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	border-radius: 30px !important;
	height: 50px !important;
	width: 80px;
	margin-left: auto !important;
}

.request-text-area {
	padding-left: 10px;
}
.request-text-area > textarea {
	border-style: none;
	border-color: Transparent;
	overflow: auto;
	outline-color: var(--deenify-color);
	width: 500px;
}
