.trending {
	padding: 10px;
	flex: 0.3;
	border: 1px solid var(--deenify-background);
}
.trending-column {
	padding: 10px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.trending_header {
	padding: 10px;
}

.trending_post {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid var(--deenify-background);
}

.trendingPost_headerText {
	font-size: 15px;
	padding: 10px;
}
.trendingPost_header {
	display: flex;
	align-items: center;
}

.trendingPost_Description {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.trendingPost_footer {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.trendingPost-image {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.trending-column::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.trending-column {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
