.profile-screen {
	display: flex;
	height: 100vh;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
.profile {
	flex: 0.4;
	padding: 10px;
	border: 1px solid var(--deenify-background);
	min-width: 660px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/* width: 600px; */
}

.side {
	flex: .3;
}
