.notification {
	padding: 10px;
	display: flex;
}

.notification-details {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: start;
}

.notification-text {
	margin: 0px;
}

.notification-avatar {
	padding-top: 5px;
}

.notification-image {
	justify-self: right;
}
