.notification {
	padding: 10px;
	display: flex;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.notification-details {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: left;
	flex: .8;
}

.activity {
	align-content: space-around;
}

.notification-text {
	margin: 0px;
}

.notification-avatar {
	padding-top: 5px;
	flex: .1;
}

.notification-image {
	flex: .1;
}
.notification::-webkit-scrollbar {
	display: none;
}
